<h1>There are (<%= @products.length %>) products for you to buy! GIVE US YOUR MONEY.</h1>

<% @products.each do |product| %>
  <%= link_to product.name, "/products/#{product.id}" %>
  <p><%= product.description %>, <%= product.formatted_price %></p>
<% end %>
</div>
